.popup-img__full-size {
  display: block;
  max-height: 540px;
  /* width: 100%; */
  margin: 90px auto;
}

@media screen and (max-width: 320px) {
  .popup-img__full-size {
    max-height: 299px;
    margin: 136px auto 133px;
  }
}