.popup-img__full-size {
  object-fit: contain;
  max-height: 540px;
  /* width: 100%; */
  margin: 0 auto;
}

@media screen and (max-width: 320px) {
  .popup-img__full-size {
    max-height: 299px;
  }
}