.popup-img__container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  margin-top: 90px;
  justify-content: center;
  /* align-items: flex-start; */
}

@media screen and (max-width: 320px) {
  .popup-img__container {
    margin-top: 136px;
  }
}