.popup-img__container {
  position: relative;
  display: inline-block;
  margin-top: 90px;
  left: 25%;

  
  /* justify-content: center; */
  /* margin: 0 auto; 
  flex-direction: column; 
  box-sizing: border-box; 
  position: relative; 
  justify-content: center; */
}

@media screen and (max-width: 320px) {
  .popup-img__container {
    margin-top: 136px;
  }
}