.popup-img__container {
  position: absolute;
  left: 50%;
  top: 90px;
  transform: translate(-50%);
}

@media screen and (max-width: 980px) {
  .popup-img__container {
    max-width: 240px;
    margin-top: 136px;
  }
}

/* .popup-img__container {
  position: relative;
  display: inline-block;
  margin-top: 90px;
  left: 50%;
} */
  
  /* justify-content: center; */
  /* margin: 0 auto; 
  flex-direction: column; 
  box-sizing: border-box; 
  position: relative; 
  justify-content: center; */


/* @media screen and (max-width: 980px) {
  .popup-img__container {
    margin-top: 136px;
  }
} */