.popup__form {
  display: flex;
  flex-direction: column;
  width: calc(100% - 2 * 36px);
  /* min-width: 282px; */
  margin: 0 auto;
/*min-height: 330px; */
}

@media screen and (max-width: 980px) {
  .popup__form {
    width: calc(100% - 2 * 22px);
  }
}